tmp/
components/
managed_components/
build/
dist/
.vscode/
.devcontainer/
sdkconfig.old
sdkconfig
releases/
.DS_Store
.cache
*.pyc
*.bin
mmap_generate_*.h
.clangd
apps_local.cmake
/.omo/run-continuation/
